.container, .img, .btn,
.likes, .delete_btn,
.delete_btn_form {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.btn:active,
.delete_btn:active,
.delete_btn_form:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#a5d172));
  background-image: linear-gradient(white, #a5d172);
  padding: 5px;
}

.container {
  width: 1200px;
  min-height: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 5px;
  background-color: white;
}

.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description,
.btn,
.likes {
  margin: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 1.1rem;
  overflow: hidden;
}

.description {
  border: none;
  min-height: 40px;
  border-bottom: 2px solid black;
}

.description:focus {
  outline: none;
}

.description::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.description:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.description::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.description::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

h1 {
  margin: auto;
}

.form {
  position: relative;
}

.likes {
  text-align: center;
  padding: 5px 10px;
  font-weight: 700;
  height: 40px;
  max-width: 200px;
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  height: 40px;
  width: 200px;
  background-color: #cfb3b3;
  font-size: large;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}

.comments_list {
  list-style: none;
  padding: 5px;
  overflow: hidden;
}

.comment_no {
  text-align: center;
  font-weight: 600;
}

.delete_btn,
.delete_btn_form {
  background-color: #cfb3b3;
  font-weight: 600;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
}

.btn,
.delete_btn,
.delete_btn_form {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.btn:hover,
.delete_btn:hover,
.delete_btn_form:hover {
  background-color: #cc8686;
}

.delete_btn {
  right: 0px;
}

.delete_btn_form {
  right: 25px;
}

.hidden {
  opacity: 0;
}

.github_link {
  text-decoration: none;
  font-weight: 600;
  display: block;
  text-align: center;
}

.github_link:hover {
  color: cadetblue;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error {
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: red;
  padding: 10px;
  z-index: 10;
}

.hr {
  height: 2px;
  background-color: black;
  width: 100%;
  display: none;
}

@media (max-width: 950px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hr {
    display: block;
  }
}

@media (max-width: 650px) {
  .btn_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .description {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .img {
    height: 300px;
  }
}
/*# sourceMappingURL=App.css.map */